:root {
  --primary-font: "Roboto", sans-serif;
  --navy-blue-modal-color: #2E2F42;
  --slate-color: #434455;
  --iris-color: #4d5ae5;
  --cloud-color: #F4F4FD;
}





.logo-class link{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
}

.logo-class .link {
  text-decoration: none;
}
  

.link {
  font-family: "Raleway" sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #2e2f42; 
  text-decoration: none;
}
.list a {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  list-style: none;
}

.list :hover,
.list :focus {
  color: #404bbf;
}

.list-one {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-modal-color);

}

.list-one :hover,
.list-one :focus {  
  color: #404bbf;
}

.nav-address{
  font-style:normal;
}

.list-link{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

.list-link :hover,
.list-link :focus {
  color: #404bbf;
}

.section-one {
  background-color: var(--navy-blue-modal-color);
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.section-one-header {
  font-size: 56px;
  letter-spacing: 0.02em;
}

.section-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-modal-color);
}

.section-two-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-modal-color);
}


.section-two-paragraph{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

.section-three-header{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-modal-color);
}

.section-three {
  background-color: #F4F4FD;
}

.list-four{
  background-color: #FFFFFF;

}

.section-footer {
  background-color: var(--navy-blue-modal-color);
}

.footer-paragraph {
  line-height: 1.5;
  color: var(--cloud-color);
  letter-spacing: 0.02em;
}

body {
  font-family: var(--primary-font);
  color: #434455;
  background-color: #FFFFFF;
}

.span-logo {
  color: var(--navy-blue-modal-color);
}

.button-class {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button-class:hover,
.button-class:focus {
  background-color: #404BBF;
}

.button-click {
  color: var(--iris-color);
  background-color: var(--cloud-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-click:hover,
.button-click:focus {
  color: #FFFFFF;
  background-color: #404BBF;
}