:root {
  --primary-font: "Roboto", sans-serif;
  --navy-blue-modal-color: #2E2F42;
  --slate-color: #434455;
  
}




.logo-main {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #4d5ae5;
  
}
.link {
  font-family: "Raleway" sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #2e2f42; 
  text-decoration: none;
}
.list a {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.list :hover,
.list :focus {
  color: #404bbf;
}

.list-one {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-modal-color);

}

.list-one :hover,
.list-one :focus {  
  color: #404bbf;
}

.nav-address{
  font-style:normal;
}

.list-link{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

.list-link :hover,
.list-link :focus {
  color: #404bbf;
}

.section-one {
  color: var(--navy-blue-modal-color);
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.section-one-h1 {
  font-size: 56px
}

.section-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-modal-color);
}

body {
  font-family: var(--primary-font);
  color: #434455;
  background-color: #FFFFFF;
}

.but-click {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.but-click :hover,
.but-click :focus {
  background-color: #404bbf;
  
}

